.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem;
}

.todo-section {
  background-color: #242424;
  min-height: 90vh;
  width: 48%;
  border: 0.15rem;
  border-style: solid;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  transition: border-color 0.25s;
}

.todo-section:hover {
  background-color: rgb(43, 43, 43);
  border-color: #535bf2;
}
