.each-note {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  min-height: 8rem;
  border: 2px;
  border-style: solid;
  border-radius: 1rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0%;
  padding-bottom: 2%;
  margin: 2rem;
}

.each-note:hover {
  background-color: rgb(59, 55, 55);
}

.note-button {
  max-width: max-content;
  align-self: center;
}
