#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.node-display {
  display: flex;
  flex-direction: row;
  border: rgb(243, 236, 236);
}